<div class="wrapper-form">
    <div id="unauthorized-user"></div>
    <form class="login" action="#" method="GET">
        <h1 class="login-title">Sign In</h1>
        <input type="text" class="login-input" placeholder="Email Adress" id="username" autofocus required>
        <input type="password" class="login-input" placeholder="Password" id="password" required>
        <button type="submit" id="button-submit">Log in</button>
        <p class="login-lost"><a href="">Forgot Password?</a></p>
    </form>
</div>