.admin-page {
  margin: 20px auto;
  width: 50%;
  border: 3px solid #008068;
  padding: 10px;

  &-header {
    text-align: center;
  }

  #list-of-users {
    display: inline-block;
    margin-left: 250px;
  }
}